{% extends 'base.html' %}

{% block body %}
    <h2 class="text-center">DETAIL</h2>
    <p>영화명: {{ movie.title }}</p>
    <p>누적 관객수: {{ movie.audience }}</p>
    <p>포스터 이미지 URL: {{ movie.poster_url }}</p>
    <p>영화 소개: {{ movie.description }}</p>
    <p>장르: {{ movie.genre_id }}</p>

    <hr>
    <form action="{% url 'movies:create_review' movie.pk %}" method='POST'>
    {% csrf_token %}
    {{ review_form.as_p}}
    <input type="submit" value="submit">
    </form>
    <hr>
    {% for review in reviews %}
        <p>작성자: {{ review.user }}</p>
        <p>평점: {{ review.score }} / 리뷰: {{ review.content }}</p>
        
        <form action="{% url 'movies:delete_review' movie.pk review.pk %}" method="POST">
            {% csrf_token %} 
            {% if review.user == request.user %}
                <input type="submit" value="삭제">
            {% endif %}
        </form>
    {% endfor %}

{% endblock %}